@media screen and (max-width: 500px) {

    ul { padding-left: 2px; }
    
    li { margin-bottom: 1px; }

    h2 { font-size: 1.3rem; }

    body{
        flex-direction: column;
        justify-content: flex-start;
        padding: 5px;
        height: 100vh;
    }

    main{
        padding: 5px;
        height: 50%;
    }

    .slide.atual {
        flex-direction: column;
    }

    .nav-btn {
      bottom: 10%;
      width: 20%;
      height: 5%;
    }

    .slide img {
        width: 100%;
    }
  }