@media screen and (max-width: 850px) {

  .nav-btn {
    position: absolute;
    bottom: 20px;
    width: 17%;
    height: 10%;
  }

  #btn-prev {
    left: 10%;
  }

  #btn-next {
    right: 10%;
  }

  main{
    width: 95%;
    height: 95%;
  }

  h2 { font-size: 2rem; }
    
}